
<form>
    <div class="form-title">
        <h2>Sign Up</h2>
    </div>
    <div class="form-input">
        <label for="username">Username</label>
        <input type="text" name="username" class="usename" required>
        <div class="username-error"></div>
    </div>
    <div class="form-input">
        <label for="email">Email</label>
        <input type="text" name="email" class="email" required>
        <div class="email-error"></div>
    </div>
    <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" class="password" required>
        <div class="password-error"></div>
    </div>
    <div class="form-input">
        <label for="confirm password">Confirm Password</label>
        <input type="password" name="confirmPassword" class="confirmPassword" required>
        <div class="confirm-password-error"></div>
    </div>
    <button class="btn-signup-form">Sign Up</button>
</form>
